{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
#}

<div class="layout-node-form clearfix">
  <ul class="node-form-nav nav nav-pills p-2 mb-4 justify-content-start" id="node-edit-pills-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-node-edit-main-tab" data-toggle="pill" href="#node-edit-main" role="tab" aria-controls="node-edit-main" aria-selected="true">Page Content</a>
    </li>
    {% if form.group_header %}
      <li class="nav-item">
        <a class="nav-link" id="pills-node-edit-header-tab" data-toggle="pill" href="#node-edit-header" role="tab" aria-controls="node-edit-header" aria-selected="false">Header</a>
      </li>
    {% endif %}
    {% if form.group_categories_tags %}
      <li class="nav-item">
        <a class="nav-link" id="pills-node-edit-categories-tags-tab" data-toggle="pill" href="#node-edit-categories-tags" role="tab" aria-controls="node-edit-categories-tags" aria-selected="false">Categories / Tags</a>
      </li>
    {% endif %}
    {% if form.urls %}
      <li class="nav-item">
        <a class="nav-link" id="pills-node-edit-urls-tab" data-toggle="pill" href="#node-edit-urls" role="tab" aria-controls="node-edit-urls" aria-selected="false">URLs/Menu</a>
      </li>
    {% endif %}
    {% if form.seo %}
      <li class="nav-item">
        <a class="nav-link" id="pills-node-edit-seo-tab" data-toggle="pill" href="#node-edit-seo" role="tab" aria-controls="node-edit-seo" aria-selected="false">SEO/Metatags</a>
      </li>
    {% endif %}
    {% if form.advanced %}
    <li class="nav-item">
      <a class="nav-link" id="pills-node-edit-secondary-tab" data-toggle="pill" href="#node-edit-secondary" role="tab" aria-controls="node-edit-secondary" aria-selected="false">Page Settings</a>
    </li>
    {% endif %}
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="layout-region layout-region-node-main tab-pane fade show active" id="node-edit-main" role="tabpanel" aria-labelledby="node-edit-main-tab">
      {{ form|without('group_header','group_categories_tags','urls','seo','advanced','footer','actions') }}
    </div>
    {% if form.group_header %}
      <div class="layout-region layout-region-node-header tab-pane fade" id="node-edit-header" role="tabpanel" aria-labelledby="node-edit-header-tab">
        {{ form.group_header }}
      </div>
    {% endif %}
    {% if form.group_categories_tags %}
      <div class="layout-region layout-region-node-categories-tags tab-pane fade" id="node-edit-categories-tags" role="tabpanel" aria-labelledby="node-edit-categories-tags-tab">
        {{ form.group_categories_tags }}
      </div>
    {% endif %}
    {% if form.urls %}
      <div class="layout-region layout-region-node-urls tab-pane fade" id="node-edit-urls" role="tabpanel" aria-labelledby="node-edit-urls-tab">
        {{ form.urls }}
      </div>
    {% endif %}
    {% if form.seo %}
      <div class="layout-region layout-region-node-seo tab-pane fade" id="node-edit-seo" role="tabpanel" aria-labelledby="node-edit-seo-tab">
        {{ form.seo }}
      </div>
    {% endif %}
    {% if form.advanced %}
    <div class="layout-region layout-region-node-secondary tab-pane fade" id="node-edit-secondary" role="tabpanel" aria-labelledby="node-edit-secondary-tab">
      {{ form.advanced }}
    </div>
    {% endif %}
  </div>
  <div class="layout-region layout-region-node-footer">
    <div class="layout-region-node-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
