{% extends "paragraph.html.twig" %}
{% block paragraph %}
  {% set image_classes = [
    'simple-block-image',
    paragraph.field_direction.value == 'left' ? 'image-align-right float-left col-4 mt-2 mr-4 mb-2 p-0',
    paragraph.field_direction.value == 'right' ? 'image-align-left float-right col-4 mt-2 ml-4 mb-2 p-0',
    paragraph.field_direction.value == 'above' ? 'image-align-above w-100 mb-4',
    paragraph.field_direction.value == 'below' ? 'image-align-below w-100 mt-4',
  ] %}
  <div {{ attributes.addClass(classes) }}>
    {% if content.field_media|render|trim is not empty and paragraph.field_direction.value != 'below' %}
      {% include '@d324theme/media/media.twig' with {
        media: content.field_media,
        media_classes: image_classes,
        caption: paragraph.field_media.entity.field_caption_text.value,
        caption_style: 'below',
        hover_effects: ['zoom', 'lighten'],
      } %}
    {% endif %}
    {% if paragraph.field_pre_heading.value %}
      <h6><small>{{ paragraph.field_pre_heading.value }}</small></h6>
    {% endif %}
    {% if paragraph.field_heading.value %}
      <h2>{{ paragraph.field_heading.value }}</h2>
    {% endif %}
    {% if paragraph.field_sub_heading.value %}
      <h4><em>{{ paragraph.field_sub_heading.value }}</em></h4>
    {% endif %}
    {% if content.field_text_content or paragraph.field_call_to_action_buttons %}
      {% if content.field_text_content %}
        {{ content.field_text_content }}
      {% endif %}
      {% if paragraph.field_call_to_action_buttons %}
        <div class="mt-4 simple-block__buttons">
          {%- for button in paragraph.field_call_to_action_buttons -%}
            {% set button_attributes = create_attribute() %}
            {% set button_attributes = button_attributes.addClass('btn btn-primary') %}
            {{ link(button.title, button.uri, button_attributes) }}
          {%- endfor -%}
        </div>
      {% endif %}
    {% endif %}
    {% if content.field_media|render|trim is not empty and paragraph.field_direction.value == 'below' %}
      {% include '@d324theme/media/media.twig' with {
        media: content.field_media,
        media_classes: image_classes,
        caption: paragraph.field_media.entity.field_caption_text.value,
        caption_style: 'below',
        hover_effects: ['zoom', 'lighten'],
      } %}
    {% endif %}
  </div>
{% endblock paragraph %}

