{#
/**
 * @file
 * Template for a simple_block component.
 *
 * Available config:
 * - heading: text
 * - sub_heading: text
 * - pre_heading: text
 * - media: media item
 * - text_content: text
 * - buttons: array of links
 * - alignment: left|right|above|below
 * - classes: array of classes
 */
#}
{% set image_attributes = create_attribute() %}
{% set image_classes = [
  'simple-block-image',
  alignment == 'left' ? 'image-align-right float-left col-4 mt-2 mr-5 mb-3 p-0',
  alignment == 'right' ? 'image-align-left float-right col-4 mt-2 ml-5 mb-3 p-0',
  alignment == 'above' ? 'image-align-above w-100 mb-5',
  alignment == 'below' ? 'image-align-below w-100 mt-5',
] %}
<div {{ attributes.addClass(classes) }}>
  {% if media|render|trim is not empty and alignment != 'below' %}<div{{ image_attributes.addClass(image_classes) }}>{{ media }}</div>{% endif %}
  {% if pre_heading %}
    <h6><small>{{ pre_heading|render|striptags }}</small></h6>
  {% endif %}
  {% if heading %}
    <h3>{{ heading|render|striptags }}</h3>
  {% endif %}
  {% if sub_heading %}
    <h4>{{ sub_heading|render|striptags }}</h4>
  {% endif %}
  {% if text_content or buttons %}
    {% if text_content %}
      {{ text_content }}
    {% endif %}
    {% if buttons %}
      <div class="mt-4 simple-block__buttons">
      {%- for button in buttons -%}
        {% set button_attributes = create_attribute() %}
        {% set button_attributes = button_attributes.addClass('btn btn-primary') %}
        {{ link(button.title, button.uri, button_attributes) }}
      {%- endfor -%}
      </div>
    {% endif %}
  {% endif %}
  {% if media|render|trim is not empty and alignment == 'below' %}<div{{ image_attributes.addClass(image_classes) }}>{{ media }}</div>{% endif %}
</div>
