{#
/**
 * @file
 * Template for a jumbotron component.
 *
 * Available config:
 * - hero_text: string
 * - calls_to_action: array of links
 * - background_image: image
 * - attributes: Attributes array.
 */
#}
{% set css_classes = [
  'jumbotron',
  'd-flex',
  'align-items-center',
  'bg-dark',
  background_image ? 'b-lazy background-container text-white'
] %}
{% if background_image %}
<div{{ attributes.addClass(css_classes) }} data-src="{{ background }}" style="background-size: cover;">
{% else %}
<div{{ attributes.addClass(css_classes) }}>
{% endif %}
  <div class="card-img-overlay container px-0">
    {% if hero_text %}
      <h1 class="text-white mx-lg-6 mx-md-4">{{ hero_text }}</h1>
    {% endif %}
    {% if calls_to_action %}
      <div class="calls-to-action row justify-content-center">
        {%- for item in calls_to_action -%}
          {% set link_attributes = create_attribute() %}
          {% set link_attributes = link_attributes.addClass('btn btn-primary shadow') %}
          {{ link(item.title, item.uri, link_attributes) }}
        {%- endfor -%}
      </div>
    {% endif %}
  </div>
</div>
