{#
/**
 * @file
 * Template for a view_stripe component.
 *
 * Available config:
 * - background_color: color
 * - background_color_2: color
 * - view: view
 */
#}
{% set css_classes = [
  'view-stripe'
] %}
<div {{ attributes.addClass(css_classes) }}>
    {% if background_color and background_color_2 %}
      <div class="color-overlay" style="background-color: linear-gradient({{ background_color['color'] }}, {{  background_color_2['color'] }}); opacity: {{ background_color['opacity'] }}"></div>
    {% elif background_color %}
      <div class="color-overlay" style="background-color: {{ background_color['color'] }}; opacity: {{ background_color['opacity'] }}"></div>
    {% endif %}
  <div class="container">
    {{ view }}
  </div>
</div>
