{#
/**
 * @file
 * Template for a simple_block component.
 *
 * Available config:
 * - col_1: column content
 * - col_2: column content
 * - direction: left,right,above,below
 */
#}
{% set css_classes = [
  'two-column-content',
] %}
{% if col_1 and col_2 %}
{% if direction == 'left' or direction == 'right' %}
  <div {{ attributes.addClass(css_classes).addClass('row') }}>
    <div class="{{ direction == 'left' ? 'col-md-8' : 'col-md-4 d-flex align-items-center justify-content-center' }}">
      {{ direction == 'left' ? col_1 : col_2 }}
    </div>
    <div class="{{ direction == 'right' ? 'col-md-8' : 'col-md-4 d-flex align-items-center justify-content-center' }}">
      {{ direction == 'right' ? col_1 : col_2 }}
    </div>
  </div>
{% else %}
  <div {{ attributes.addClass(css_classes) }}>
    <div class="d-flex text-align-center align-items-center justify-content-center w-100 {{ direction == 'bottom' ? 'p-5' }}">
      {{ direction == 'above' ? col_1 : col_2 }}
    </div>
    <div class="d-flex text-align-center align-items-center justify-content-center w-100 {{ direction == 'top' ? 'p-5' }}">
      {{ direction == 'below' ? col_1 : col_2 }}
    </div>
  </div>
{% endif %}
{% else %}
  <div {{ attributes.addClass(css_classes) }}>
    <div class="d-flex text-align-center align-items-center justify-content-center w-100">
      {{ col_1 }}
    </div>
  </div>
{% endif %}
